/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-gold: #c59d5f;
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  background-color: var(--background-primary);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* img:not(.logo) {
  width: 100%;
} */
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* themes */
:root {
  --gray-000: #ffffff;
  --gray-050: #f2f2f2;
  --gray-100: #fafafa;
  --gray-200: #f5f5f5;
  --gray-300: #ededed;
  --gray-400: #e5e5e5;
  --gray-500: #cdcdcd;
  --gray-600: #a8a8a8;
  --gray-700: #747474;
  --gray-800: #393939;
  --gray-900: #000000;
  --red-050: #fff7f6;
  --red-100: #ffedeb;
  --red-200: #ffe0db;
  --red-300: #ffd3c9;
  --red-400: #ffb7a4;
  --red-500: #ff9574;
  --red-600: #ff6e3c;
  --red-700: #ff4500;
  --red-800: #aa2e00;
  --red-900: #541600;
  --green-050: #f4fff4;
  --green-100: #e9ffe8;
  --green-200: #d9ffd8;
  --green-300: #c9ffc7;
  --green-400: #a6ffa3;
  --green-500: #7cf178;
  --green-600: #51da4c;
  --green-700: #3fa93b;
  --green-800: #2d712a;
  --green-900: #193718;
  --blue-050: #f4fbff;
  --blue-100: #e5f1ff;
  --blue-200: #cbdcff;
  --blue-300: #afc1ff;
  --blue-400: #7989ff;
  --blue-500: #3c46ff;
  --blue-600: #0000ff;
  --blue-700: #0404ac;
  --blue-800: #020267;
  --blue-900: #00002e;
  --cyan-050: #f0ffff;
  --cyan-100: #e0ffff;
  --cyan-200: #caffff;
  --cyan-300: #b3ffff;
  --cyan-400: #82ffff;
  --cyan-500: #42ffff;
  --cyan-600: #00ffff;
  --cyan-700: #00e7e7;
  --cyan-800: #00b3b3;
  --cyan-900: #005454;
  --yellow-050: #ffffdb;
  --yellow-100: #ffffb6;
  --yellow-200: #ffff8f;
  --yellow-300: #ffff66;
  --yellow-400: #fff639;
  --yellow-500: #f5e60d;
  --yellow-600: #cfc52c;
  --yellow-700: #a19a3a;
  --yellow-800: #6c6837;
  --yellow-900: #343322;
  --magenta-050: #fff9ff;
  --magenta-100: #fff2ff;
  --magenta-200: #ffd7ff;
  --magenta-300: #ffc1ff;
  --magenta-400: #ff8bff;
  --magenta-500: #ff45ff;
  --magenta-600: #ff00ff;
  --magenta-700: #c500c5;
  --magenta-800: #830083;
  --magenta-900: #400040;
  --orange-050: #fffcf5;
  --orange-100: #fff9ea;
  --orange-200: #fff1d6;
  --orange-300: #ffe8c1;
  --orange-400: #ffc98a;
  --orange-500: #ffa045;
  --orange-600: #fe7600;
  --orange-700: #c45600;
  --orange-800: #833600;
  --orange-900: #401900;
  --violet-050: #fff9ff;
  --violet-100: #fff2ff;
  --violet-200: #fee6ff;
  --violet-300: #fcdaff;
  --violet-400: #ebbbff;
  --violet-500: #d292ff;
  --violet-600: #b161fd;
  --violet-700: #8a2be2;
  --violet-800: #571397;
  --violet-900: #28044a;
  --brown-050: #f7ece6;
  --brown-100: #f0dacf;
  --brown-200: #e8c7b6;
  --brown-300: #e1b59f;
  --brown-400: #cb9379;
  --brown-500: #b67252;
  --brown-600: #a0522d;
  --brown-700: #793a1c;
  --brown-800: #51230d;
  --brown-900: #2a1003;
  /* --text-primary: var(--gray-900);
  --text-primary-rgb: 0, 0, 0;
  --text-inverse: var(--background-primary);
  --text-secondary: var(--gray-700);
  --text-interactive-primary: var(--gray-900);
  --border-primary: var(--gray-900);
  --border-secondary: rgba(0, 0, 0, 0.2);
  --border-inverse: var(--background-primary);
  --background-primary: var(--gray-000);
  --background-inverse: var(--text-primary);
  --background-success: var(--green-200);
  --background-interactive-primary-hover: var(--gray-400);
  --transparent: transparent; */
  --text-primary: var(--yellow-900);
  --text-primary-rgb: 52, 51, 34;
  --text-secondary: var(--yellow-800);
  --text-interactive-primary: var(--yellow-900);
  --border-primary: var(--yellow-900);
  --border-secondary: rgba(52, 51, 34, 0.2);
  --background-primary: var(--blue-100);
  --background-interactive-primary-hover: var(--blue-200);
  --text-inverse: var(--background-primary);
  --border-inverse: var(--background-primary);
  --background-inverse: var(--text-primary);
  background-color: var(--background-primary);
  color: var(--text-primary);
}

.theme-light-blue {
  --text-primary: var(--yellow-900);
  --text-primary-rgb: 52, 51, 34;
  --text-secondary: var(--yellow-800);
  --text-interactive-primary: var(--yellow-900);
  --border-primary: var(--yellow-900);
  --border-secondary: rgba(52, 51, 34, 0.2);
  --background-primary: var(--blue-100);
  --background-interactive-primary-hover: var(--blue-200);
  --text-inverse: var(--background-primary);
  --border-inverse: var(--background-primary);
  --background-inverse: var(--text-primary);
  background-color: var(--background-primary);
  color: var(--text-primary);
}

/* title container */
.title-container {
  text-align: center;
  margin: auto auto;
  margin-bottom: 50px;
  color: var(--text-primary);
  border-color: var(--border-primary);
}
/* containers */
.container {
  padding: 5rem 0;
}

/* filters */
.filters-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  color: var(--text-primary);
  border-color: var(--border-primary);
}

.filters-container button.filter {
  text-transform: capitalize;
  padding: 0.35rem 0.675rem;
  border-radius: 9px;
  border: solid 2px;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  font-size: 1rem;
  transition: var(--transition);
  cursor: pointer;
}

.filters-container button.filter:hover {
  background-color: var(--background-inverse);
  color: var(--text-inverse);
  border-color: inherit;
}

/* recipes */

.recipes-container {
  display: grid;
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 3rem 2rem;
  justify-items: center;
}

.title {
  /* margin auto is used when the margins are not taking up the entire space */
  /* display block automatically takes up entire margin */
  text-align: center;
}

.title-border {
  border-bottom: 5px solid var(--text-primary);
  margin-left: auto;
  margin-right: auto;
  width: 30px;
}

.recipe {
  display: grid;
  max-width: 25rem;
  gap: 1rem 1rem;
  color: var(--text-primary);
}

.recipe-header {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.recipe-image {
  /* this is necessary bc column is set to auto, it will take up all space if possible */
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 5px var(--background-inverse) solid;
  border-radius: 5px;
}

p.recipe-desc {
  padding-top: 15px;
  color: var(--text-primary);
}
